.about {
  &__content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: space-between;

    &__personalWrapper,
    &___infoWrapper {
      width: 50%;
    }

    &__personalWrapper {
      h3 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--yellow-theme-main-color);
      }

      h3.skillText {
        padding-top: 20px;
      }

      p {
        color: var(--yellow-theme-sub-text-color);
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--yellow-theme-main-color);
      }

      ul > li {
        margin-bottom: 15px;
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid var(--yellow-theme-main-color);
        border-radius: 15px;
        display: inline-block;
        margin-right: 16px;
        padding: 12px;
        color: var(--yellow-theme-sub-text-color);
      }
    }

    &__infoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;

      &__content {
        width: 360px;
        height: 360px;
        background:
          radial-gradient(
            180px,
            var(--yellow-theme-main-color),
            transparent 90%
          );
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--yellow-theme-main-color);
        animation: rotation 10s linear 1s infinite;

        div:nth-child(1) {
          position: absolute;
          top: -9%;
          left: 41%;
        }

        div:nth-child(2) {
          position: absolute;
          top: 41.5%;
          right: -11%;
        }

        div:nth-child(3) {
          position: absolute;
          bottom: -11%;
          left: 41%;
        }

        div:nth-child(4) {
          position: absolute;
          left: -8%;
          top: 41%;
        }
      }
    }
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 425px) {
  .about__content {
    flex-direction: column;

    &__personalWrapper,
    &___infoWrapper {
      width: 100%;
    }

    &__infoWrapper {
      margin: 10px 0;

      &__content {
        width: 222px;
        height: 222px;
        background: radial-gradient(120px, var(--yellow-theme-main-color), transparent 120%);

        div:nth-child(1) {
          position: absolute;
          top: -14%;
          left: 38%;
        }

        div:nth-child(2) {
          position: absolute;
          top: 40%;
          right: -15%;
        }

        div:nth-child(3) {
          position: absolute;
          bottom: -18%;
          left: 37%;
        }

        div:nth-child(4) {
          position: absolute;
          left: -13%;
          top: 40%;
        }
      }
    }
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .about__content {
    flex-direction: column;

    &__personalWrapper,
    &___infoWrapper {
      width: 100%;
    }

    &__infoWrapper {
      margin: 10px 0;

      &__content {
        width: 300px;
        height: 300px;
        background: radial-gradient(120px, var(--yellow-theme-main-color), transparent 120%);

        div:nth-child(1) {
          position: absolute;
          top: -10%;
          left: 38%;
        }

        div:nth-child(2) {
          position: absolute;
          top: 40%;
          right: -13%;
        }

        div:nth-child(3) {
          position: absolute;
          bottom: -14%;
          left: 40%;
        }

        div:nth-child(4) {
          position: absolute;
          left: -10%;
          top: 40%;
        }
      }
    }
  }
}
