.projects {
  &__content {
    padding: 20px;
    width: 100%;

    &__filter {
      display: inline-block;
      margin: 0 auto;
      border-radius: 25px;
      border: 1px solid var(--yellow-theme-main-color);

      li {
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        position: relative;
        color: var(--yellow-theme-main-color);
        text-transform: uppercase;
        padding: 12px 20px;
        overflow: hidden;
        transition: all 0.5s ease;

        &.active {
          background: var(--yellow-theme-main-color);
          color: var(--yellow-theme-sub-text-color);
          font-weight: 600;
          border-radius: 25px;
        }
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      gap: 1rem;
      margin-top: 10px;

      &__item {
        cursor: pointer;
        position: relative;

        &:hover .overlay {
          opacity: 1;
        }

        a img {
          object-fit: cover;
          width: 100%;

          &__img-wrapper {
            object-fit: cover;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: var(--yellow-theme-main-color);

          div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            p {
              color: #000;
              margin: 0px;
              font-size: 4rem;
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              animation: typingEffect 1s steps(30, end);
            }

            button {
              cursor: pointer;
              margin-top: 16px;
              padding: 10px 70px;
              font-size: 2rem;
              background: transparent;
              color: #000;
              border: 1.5px solid #000;
              border-radius: 4px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  h3 {
    color: var(--yellow-theme-sub-text-color);
    font-size: 3rem;
  }

  &__popup {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;

    p {
      color: var(--yellow-theme-sub-text-color);
      font-size: 1.5rem;
    }

    &__texts {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      ul > li {
        margin-bottom: 15px;
        font-size: 1.2rem;
        font-weight: 600;
        border: 1px solid var(--yellow-theme-main-color);
        border-radius: 15px;
        display: inline-block;
        margin-right: 16px;
        padding: 6px;
        color: var(--yellow-theme-sub-text-color);
      }
    }
    display: flex;
    flex-direction: row;

    button {
      margin-bottom: 15px;
      font-size: 1.2rem;
      font-weight: 600;
      display: inline-block;
      margin-right: 16px;
      padding: 6px;
      color: var(--yellow-theme-sub-text-color);
      background: transparent;
    }

    &__icons {
      color: var(--yellow-theme-sub-text-color);
      margin-left: 2rem;
      margin-bottom: -1rem;

      .HiExternalLink {
        margin-left: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .projects__content__filter > li {
    font-size: 9px;
    padding: 9px 9px;
  }

  .projects__content__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects__popup {
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .projects__content__filter > li {
    font-size: 11px;
    padding: 9px 9px;
  }

  .projects__content__cards {
    grid-template-columns: repeat(2, 1fr);

    &__item {
      .overlay {
        div > p {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .projects h3 {
    font-size: 6rem;
  }

  .projects__popup {
    margin-top: 4rem;
    gap: 2rem;
    p {
      font-size: 3rem;
    }

    ul > li, button {
      font-size: 2.4rem;
    }
  }
}

@keyframes typingEffect {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
